.search-icons-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.serach-input-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    margin-top: 2rem;
    padding: 0.8rem 3rem;
    border-radius: 2rem;
    border: solid 1px rgb(138, 132, 132);

    width: 40%;
}


.search-icon {
    width: 30px;
    display: inline-block;

    position: relative;
    left: 2.5rem;
    top: 1rem;
}